html, body{ 
	margin: 0;
	background-color: red;	
	background-image: url(691745.jpg);
}
.nav{
	width: 100%;
	background: black;
	color:white;
	height: 67px;
	position: fixed;
}
.titulo{
	font-size: 4rem;
	margin-top: 10px;
	float:left;
	padding-left: 50px;
	transition:all 0.5s ease;
}
.navegacion li{
	margin-top: 30px;
	display: inline-block;
	margin-left: 10px;
	margin-right: 30px;
	float: right;
	color: white;
	transition:all 0.5s ease;
}
.navegacion li:hover{
	color:red;
}
.hamburguesa{
	display: none;
	float: right;
	font-size: 4rem;
	margin: 15px 20px 0 0px;
	transition:all 0.5s ease;
}



.menu_mini{
	width: 100%;
	background:rgba(0,0,0,.5);
	text-align: center;
	position: absolute;
	top:67px;
	display: none;
}
.menu_mini li{
	color:white;
	text-decoration: none;
}
a:link{
	text-decoration: none;
}

@media (max-width: 600px){
	.navegacion{
		display:none;
	}
	.hamburguesa{
		display: inline-block;
	}
	.titulo{
		padding-left: 0;
	}

}
@media (min-width: 600px){
	ul.menu_mini li{
		color: transparent;
		background: transparent;
		display: none;
	}
}







